<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelLog -Spring Boot Thymeleaf Projectwork</title>

<body>
    <header>
        <a href="/index" class="logo">Travel</a>
        <!--HUOM THYMELEAF-->
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/destinations">Destinations</a>
            <a href="/ratings">Ratings</a>
            <a href="/contact">Contact</a>
            <button class="btn btn-primary"><a href="/login">Login</a></button>
        </nav>

    </header>



</body>

</html>

<!--         <form action="/login">
            <div>
                <i class="fas fa-search" id="search-btn"></i>
                <i class="fas fa-user" id="login-btn"><a href="/login"></a></i>
            </div>
        </form>
        <form action="" class="search-bar-container">
            <input type="search" id="search-bar" placeholder="search here...">
            <label for="search-bar" class="fas fa-search"></label>
        </form> -->