<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelLog Login</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <div th:if="${param.error}">
        <p style="color: red;">Invalid username and password.</p>
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="/login" method="post">
        <h3>Login</h3>
        <div><label>Username <input type="text" name="username" class="box" placeholder="Enter your email"></label></div>
        <div><label>Password: <input type="password" name="password" class="box" placeholder="Enter your password"></label></div>
        <div><input type="submit" value="Login"></div>
        <p>Don't have an account? <a href="/register">Register now</a></p>
    </form>


</body>

</html>